<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>DesplegarClubs</servlet-name>
        <servlet-class>servlet.Clubs.DesplegarClubs</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BuscarClub</servlet-name>
        <servlet-class>servlet.Clubs.BuscarClub</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Inscribir</servlet-name>
        <servlet-class>servlet.Clubs.Inscribir</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IniciarSesion</servlet-name>
        <servlet-class>servlet.Clubs.IniciarSesion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VerClubsInscritos</servlet-name>
        <servlet-class>servlet.Clubs.VerClubsInscritos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EliminarClub</servlet-name>
        <servlet-class>servlet.Clubs.EliminarClub</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CerrarSesion</servlet-name>
        <servlet-class>servlet.Clubs.CerrarSesion</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DesplegarClubs</servlet-name>
        <url-pattern>/DesplegarClubs</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BuscarClub</servlet-name>
        <url-pattern>/BuscarClub</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Inscribir</servlet-name>
        <url-pattern>/Inscribir</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IniciarSesion</servlet-name>
        <url-pattern>/IniciarSesion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VerClubsInscritos</servlet-name>
        <url-pattern>/VerClubsInscritos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EliminarClub</servlet-name>
        <url-pattern>/EliminarClub</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CerrarSesion</servlet-name>
        <url-pattern>/CerrarSesion</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
